:root {
    --primary:#3a9cf4;
    --accent: #74c44c;
    --b-radius: 7px;
}


body {
    padding-top: 5rem;
    background: #CCD6DD;
}

button{
    color: rgb(0, 0, 0);
    background-color: rgb(25, 136, 228);
    padding: 10px;
    margin: 0%;
    width: 200px;
    transition: all 1s ease;
    border-style: none;
    
}
button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 1s ease;
    border-style: none;
    box-shadow: 0 12px 16px 0 rgb(43, 219, 19), 0 17px 50px 0 rgb(43, 219, 19);
}

form {
    background: #fff;
    padding: 20px 50px 15px 50px;
    border-top: 3px solid #3a9cf4;
    border-radius: var(--b-radius);
}

small {
    color: red;
}

.profile {
    border-top: 3px solid var(--primary);
    box-sizing: border-box;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    background: white;
    margin-bottom: 20px;
    border-radius: var(--b-radius);
    box-shadow: 1px 2px 5px 2px rgba(186,186,186,1);;
}

.profile img {
    width: 80px;
    height: 80px;
    margin-right: 50px;
}

.profile-body {
    display: flex;
}

.profiles-button{
    margin-top: 15px;
}

.profile-page {
    width: 80%;
    background: #fff;
    margin: 0 auto;
    padding:40px 50px 15px 50px;
    border-top: 3px solid var(--primary);
    border-radius: var(--b-radius);
    display: grid;
    grid-template-areas: "dp details"
                         "bio bio"
                         "message follow";
    grid-template-columns: repeat(2,1fr);           
}

.dp {
    grid-area: dp;
    height: 200px;
    width: 200px;
    border-radius: var(--b-radius);
}

.bio {
    grid-area: bio;
    padding-top: 30px;
    padding-bottom: 10px;
}

.details {
    grid-area: details;
    padding-left: none;
}

.message {
    grid-area: message;
    
}
.follow {
    grid-area: follow;
}


.icons {
    line-height: 16px;
    margin-bottom: 4px;
    padding: 9px;
}